body { font-family:'Open Sans', sans-serif; }
table { background-color:#c0dd8c;
        border:1px solid;
        padding:5px;
}
a:link { color:#fe5e14;
         text-decoration:none; }
a:visited { color:#fe5e14; }
a:active { color:#fe5e14; }
a:hover { text-decoration:underline; }
.td { background-color:#79b61b;
      padding:2.5px;
}
.code { background-color:lightgrey;
        padding:2.5px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
